apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-pqjfdoqx
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-pqjfdoqx:c947a8911008aa12e55fcdfe4642fac5717fdc8d@sha256:8cae603cf807e158522e67fe8e134129e78345a9247cf1ed159bb671311f6422
          name: container-image
